header {
  background-color: #cfc;
  padding-top: 25px;
  height: 150px;
  text-align: center;
}
table, th, td {
  border-style: solid;
  border-collapse: collapse;
  border-width: 1px;
}
.table {
  display: inline-block;
  margin-right: 50px;
}
.table > h2 {
  display: inline-block;
}
@media screen and (max-device-width: 600px) {
  header {
    height: 100px;
    padding-top: 5px;
  }
}